<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
	<div flex-xs flex-gt-xs="50" layout="column">
	  <form name="urlSubmission" ng-submit="getYoutube(newUrlText)">
	    <div layout-gt-sm="row">
	      <md-input-container class="md-block" flex-gt-sm>
	        <label>YouTube URL</label>
	        <input ng-model="newUrlText">
	      </md-input-container>
		  <md-button id="urlSubmit" type="submit" class="md-raised md-primary">Add Submission</md-button>
	    </div>
	  </form>
	</div>
</md-content>
<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
	<div flex-xs flex-gt-xs="50" layout="column">
		<md-card ng-repeat="url in urls">
	        <md-card-title>
	          <md-card-title-text>
	            <span class="md-headline">{{ url.title }}</span>
	            <span class="md-subhead">Views: {{ url.viewCount | number }}</span>
				<span>Total Votes: <strong>{{ url.upvotes }}</strong></span>
	          </md-card-title-text>
	          <md-card-title-media>
	            <div class="md-media-md card-media" alt="">
	            	<img src="{{ url.imgUrl }}" alt="">
	            </div>
	          </md-card-title-media>
	        </md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<a href="{{ url.url }}" target="_blank">
	        	<md-button class="md-fab md-raised" style="margin-right: 10px;" ><ng-md-icon icon="open_in_new" style="fill: #9E9D9D; "></ng-md-icon></md-button></a>
	        	<md-button class="md-primary md-fab md-raised" ng-click="upvote(url, $event)"><ng-md-icon icon="star" style="fill: rgb(255,255,255);"></ng-md-icon></md-button>
	        	<md-button class="md-warn md-fab md-raised md-hue-2" ng-click="remove(url, $event)"><ng-md-icon icon="delete" style="fill: rgb(255,255,255);"></ng-md-icon></md-button>
			</md-card-actions>
	      </md-card>
	    </div>
</md-content>