<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
  <div flex-xs flex-gt-xs="80" layout="column" layout-align="center center">
    <md-card>
      <img src="images/b-o-y-header.png" alt="">
    </md-card>
  </div>
</md-content>

<md-content>
  <div flex-xs flex-gt-xs="55" style="margin: 0 auto;" layout="column" layout-align="center center">
    <div class="dialog-demo-content" layout="row" layout-wrap layout-margin>
    <h2 style="margin: 0 auto; margin-bottom: 15px;">Choose Your Group</h2>
    <md-button ng-repeat="group in groups" href="/#/group/{{ group.$value }}"  class="md-primary md-raised" flex="100"  flex-gt-md="auto">
      <h3 style="display: inline-block;">{{ group.$value }}</h3>
      <md-button style="float: right;  background-color: greenyellow;" class="md-fab"> <ng-md-icon  icon="arrow_forward"></ng-md-icon></md-button>
     
    </md-button>
    </div>
    <ul>
      <li ng-repeat="url in urls">
        <!-- edit a message -->
          <input class="editBox" ng-model="url.title" ng-change="urls.$save(urls)" />
          <!-- delete a message -->
          <button ng-click="urls.$remove(url)">Delete Video</button>
      </li>
    </ul>
  </div>
</md-content>
